  <!-- CABECERA -->
  <div class="row">
    <div class="d-flex justify-content-between">
        <div>
            <a class="navbar-brand text-white" href="#">
                <img src="/img/logo.png" width="180" height="180">
            </a>                
        </div>
        <div class="ms-auto d-flex">
            <div id="logo" class="pt-3">
                <img src="/usuarios/imagen/<%=imageUser%>" width="140" height="140" class="log-items Uimg rounded-circle">
            </div>
            <div class="log-items pt-5">
                <h2 class="text-dark" id="user"><%=nameUser %></h2>
                <a href="/usuarios/logout"><button type="button" class="btn btn-danger">Desconectar</button></a>
            </div>
        </div>
    </div>
</div>